.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  margin-top: 40px;
  padding: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

label,
input,
select {
  flex-wrap: wrap;
  padding: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px;
  border-style: ridge;
  border-width: 10px;
  font-size: 18px;
}

/* .coin-section {
  display: none;
} */

.coin {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.penny {
  background-color: chocolate;
  width: 50px;
  height: 50px;
}

.nickel {
  background-color: silver;
  height: 60px;
  width: 60px;
}

.dime {
  background-color: silver;
  width: 40px;
  height: 40px;
}

.quarter {
  background-color: silver;
  height: 70px;
  width: 70px;
}
