<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Pizza</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Welcome to Express Pizza</h1>
    <p><h2>Specialty Pizzas</h2>
      <ul>
        <li><a href="/specialty-pizzas?name=Anchovy+Lover's&price=15.00">Anchovy
            Lover's</a></li>
        <li><a href="/specialty-pizzas?name=Paleo+Pizza&price=15.00">Paleo Pizza</a></li>
        <li><a href="/specialty-pizzas?name=Dessert+Pizza&price=15.00">Dessert
            Pizza</a></li>
      </ul>
    </p>
    <p>
      <h2>Custom Pizza</h2>
      <a href="/pizza-builder">Build your own!</a>
    </p>
    <p>
      <h2>Leave a Review</h2>
      <a href="/review">Click here to leave a review</a>
      <img src="/pizza.png" alt="cartoon pizza" class="pizza-graphic" />
    </p>

  </body>
</html>