<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Leave a Review</h1>
    <form action="/review-submission" method="POST">
      <p>
        <label for="name">Your Name</label>
        <input id="name" name="name" />
      </p>
      <p>
        <label for="comment">Comment</label>
        <input id="comment" name="comment" type="text" class="myText" />
      </p>
      <p>
        Rating
      </p>
      <p>
        <input type="radio" id="5" name="rating" value="5" /><label for="5">5
          (best) -
        </label>

        <input type="radio" id="4" name="rating" value="4" /><label for="4">4 -
        </label>

        <input type="radio" id="3" name="rating" value="3" /><label for="3">3 -
        </label>

        <input type="radio" id="2" name="rating" value="2" /><label for="2">2 -
        </label>

        <input type="radio" id="1" name="rating" value="1" /><label for="1">1
          (worst)</label>
      </p>
      <p>
        <button type="submit">Submit</button>
        <a href="/">Never Mind</a>
      </p>
    </form>
  </body>
</html>